[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/portio"]
	path = themes/portio
	url = https://github.com/StaticMania/portio-hugo.git
[submodule "themes/liva"]
	path = themes/liva
	url = https://github.com/gethugothemes/liva-hugo.git
